@tailwind base;
@tailwind components;
@tailwind utilities;

.pulsing-border {
  box-shadow: 0 0 0 1px rgba(0, 183, 255, 1);
  animation: pulse 1.7s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 2px rgba(0, 183, 255, 1);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0);
  }
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}

.message:hover > .extra-info {
  display: flex;
}

@keyframes fadeIn {
  from {
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
  }

  to {
    opacity: 1;
  }
}
